# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
.pnpm-store/

# Local env files
.env
.env.local
.env.*.local

# Testing
coverage
.nyc_output

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs & Caches
.next/
out/
build
dist
.cache/
.parcel-cache/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Database & Prisma (Lokal)
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal

# Editor & IDE (VS Code, JetBrains, dll)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files & Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem
*.key